<webshop-header></webshop-header>
<div class="container-fluid">
    <div id="cart-container">
        <a class="anchor" id="checkout-details"></a>
        <div id="cart-checkout">
            <h3>Thank you for shopping at The Webshop!</h3>
            <span>You purchased:</span>
            <hr>
        </div>
        <div id="cart-map" class="row">
            <span class="col-xs-5 col-sm-5">Product name</span>
            <span class="col-xs-2 col-sm-1 col-sm-offset-4">Amount</span>
            <span class="col-xs-2 col-sm-1">Price</span>
            <span class="col-xs-2 col-sm-1">Total</span>
        </div>
        <hr>
        <div id="cart-content">
            <div class="product-in-cart row" ng-repeat="product in cart.getCachedItems()">
                <div class="col-xs-5 col-sm-5">
                    <a href="{{::'#/products/' + product.info.id + '#product-details'}}" class="img-in-cart">
                        <div class="">
                            <img ng-src="{{::'http://shop.dev.ittalents.bg/' + product.info.images[0]}}" alt="{{ ::product.info.title }}">
                        </div>
                        <h3 class="product-title">{{ ::product.info.title }}</h3>
                    </a>
                </div>
                <div class="product-preferences col-xs-2 col-sm-1 col-sm-offset-4">{{ ::product.amount }}</div>
                <div class="product-price-container col-xs-2 col-sm-1">
                    <i class="product-price">{{ ::product.info.price }}</i><span class="currency"> BGN</span>
                </div>
                <div class="product-price-container col-xs-2 col-sm-1">
                    <i class="product-price">{{ ::product.amount * product.info.price }}</i><span class="currency"> BGN</span>
                </div>
                <hr class="col-xs-12">
            </div>
        </div>
        <order-summary></order-summary>
        <a class="checkout-btn" ui-sref="main.home"><button class="btn-lg">Back to home</button></a>
    </div>
</div>


