<div class="container-fluid">
    <article>
        <div id="top-offers" class="row">
            <div class="col-xs-12 col-sm-4">
                <div id="offer-one">
                    <span><strong>20% OFF SCREW DRIVERS!</strong></span><br>
                    <span class="offer-conditions">Offer expires on midnight*</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div id="offer-two">
                    <span><strong>5 BGN FOR NEXT DAY DELIVERY!</strong></span><br>
                    <span class="offer-conditions">For offers in Bulgaria*</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div id="offer-three">
                    <span><strong>15% OFF LCD TV's!</strong></span><br>
                    <span class="offer-conditions">Offer expires on midnight*</span>
                </div>
            </div>
        </div>
        <div ncy-breadcrumb></div>
        <h1><i>The WebShop</i></h1>
    </article>
</div>

