
/***colors***/

$background-color: #FBF9F9;

$color-standOut-blue: #00D2FF;
$color-standOut-pink: rgb(230, 0, 126);
$color-standOut-pink-transp: rgba(230, 0, 126, 0.1);
$color-flat-pink: #F87A85;
$color-menus: black;
$color-beige: #DDDDDD;
$font-color-regular: white;
$font-color-hover: red;


/***fonts***/



